/*Fonts*/
@font-face {
  font-family: "Handjet";
  src: url("fonts/static/Handjet-Medium.ttf");
}

/*Global styles*/

body{
  margin:0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
header{
  position:fixed;
  top: 20px;
}
footer{
  position: fixed;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 10px;

}
footer a{
  text-decoration: none;
}


/*Button slider*/

.switch {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 34px;
  text-align: center;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor:pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  font-family: 'Handjet';
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: chocolate;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  border: 1px solid chocolate;
}

input:checked + .slider:before {
  -webkit-transform: translateX(126px);
  -ms-transform: translateX(126px);
  transform: translateX(126px);
}

/*Watch styles*/

.dark {
  background-color: black;
  color: chocolate;
}

.light {
  background-color: white;
  color: black;
}

.watchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 60px;
}

.case {
  font-family: "Handjet";
  border: 3px solid chocolate;
  padding: 0 40px;
  border-radius: 30px;
}

.date{
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

